  ---
  About
  ---

  DuraCloud for Research (DfR) is a software platform optimized for the needs of
researchers and scientists. It provides preservation services in a secure
environment for the researcher, while permitting secure access to data curators
and institutional data management staff to ensure that project data may be
preserved for future use.

  See the Modules at the left for more information about the software components
that comprise the DfR platform.
