<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://activemq.apache.org/schema/core/activemq-core.xsd
                           http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="storageType" class="org.duracloud.storage.domain.StorageProviderType" factory-method="valueOf">
    <constructor-arg>
      <value>AMAZON_S3</value>
    </constructor-arg>
  </bean>

  <bean id="httpHelper" class="org.duracloud.common.web.RestHttpHelper"/>

  <!-- This is the storage location. -->
  <bean id="contentStore" class="org.duracloud.client.ContentStoreImpl">
    <constructor-arg type="java.lang.String" value="baseURL"/>
    <constructor-arg ref="storageType"/>
    <constructor-arg type="java.lang.String" value="storeID"/>
    <constructor-arg ref="httpHelper"/>
  </bean>

  <!-- this is the Message Driven POJO (MDP) -->
  <bean id="messageListener" class="org.duraspace.dfr.ocs.duracloud.DuraCloudStorageListener">
    <constructor-arg ref="contentStore"/>
  </bean>

  <!--  ActiveMQ destinations to use  -->
  <!-- <amq:queue id="destination"  physicalName="org.apache.activemq.spring.Test.spring.embedded"/> -->

  <!-- JMS ConnectionFactory to use, configuring the embedded broker using XML -->
  <!-- <amq:connectionFactory id="connectionFactory" brokerURL="vm://localhost"/> -->

  <!-- and this is the message listener container -->
  <bean id="messageContainer" class="org.springframework.jms.listener.SimpleMessageListenerContainer">
    <property name="connectionFactory" ref="connectionFactory"/>
    <property name="destination" ref="destination"/>
    <property name="messageListener" ref="messageListener" />
  </bean>


</beans>